.app-header {
    height: 110px;
    margin: -10px -10px 10px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}

.app-header h2{
    color: #004A94;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.app-header Img{
    position: relative;
    float: left;
    left: 10px;
    top:5px;
    height: 100px;
}

.about-link{
    height: 24px;
    position: relative;
    float: inline-end;;
 }

.jsx-4017309047 tab-content{

}